<app-product-nav-bar (productEventEmmeter)="onActionEvent($event)"></app-product-nav-bar>
<app-product-list (productEventEmmeter)="onActionEvent($event)" [productsInput$]="products$"></app-product-list>

<!--2-->
<!--div class="container" *ngIf="products$">
 <table class="table">
   <tr>
     <th>ID</th><th>Name</th><th>Price</th><th>Qty</th><th>Selected</th><th>Available</th>
   </tr>
   <tr *ngFor="let p of products$|async">
     <td>{{p.id}}</td>
     <td>{{p.name}}</td>
     <td>{{p.price}}</td>
     <td>{{p.qty}}</td>
     <td>{{p.selected}}</td>
     <td>{{p.available}}</td>
   </tr>
 </table>

</div-->
