<tr *ngIf="product">
  <td>{{product.id}}</td>
  <td>{{product.name}}</td>
  <td>{{product.price}}</td>
  <td>{{product.qty}}</td>
  <td>{{product.selected}}</td>
  <td>{{product.available}}</td>
  <td>
    <div>
      <button (click)="onSelect(product)" [ngClass]="product.selected?'btn-success':'btn-danger'" class="btn btn-sm">
        <span *ngIf="product.selected" >UnSelect</span>
        <span *ngIf="!product.selected">Select</span>
      </button>
    </div>
  </td>
  <td>
    <div>
      <button (click)="onDelete(product)" class="btn btn-danger btn-sm">
        <span class="fa fa-trash-o"></span>
      </button>
    </div>
  </td>
  <td>
    <div>
      <button (click)="onEdit(product)" class="btn btn-danger btn-sm">
        <span class="fa fa-edit"></span>
      </button>
    </div>
  </td>
</tr>
